 <!-- About Section -->
    <section  id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Geek Harvest</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">


<p>
We are software developers, and we belong to programming user groups.
We have varying skill levels. We know different languages. 
We think and feel that social coding (coding with a group for fun) is the best way to learn. 
All of us were once kids, and we know that code (at it’s best) is great play.
</p>
<p>
Some of of us have kids. We often try to fence-off our professional lives as a way to protect our family time. 
Geek Harvest is an experiment for us parents to open the fence (<em>for the summer</em>) and bring our kids into the world of <strong>coding-for-fun</strong>. 
As parents, we teach our kids how to play chess, fish, plant seeds, knit, throw a ball, and cook. 
Why not software? Why not how to code?
</p>
<p class="questions">
What language could you learn with your daughter or son this summer?
</p><p class="questions">
Could you write a game?
</p><p class="questions">
Could you look up RFC 2616 and build a web server from scratch? 
</p><p class="questions">
Is there a civic-minded project that needs building?
</p><p>
Whether your kids are five-years-old or teenagers, coding-for-fun will help you see each other’s minds in a new way. 
Our bet is everyone will come out a bit smarter and closer.
</p>
<p>
The “harvest” part is where your user group reserves the September meeting for a show-and-tell presentation from its parent-kid teams. 
</p>
                </div>
            </div>
        </div>
    </section>