<!-- Harvest Plan Section -->
    <section id="harvest" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>A Recipe</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">


<p>
Below is a recipe/template that has worked well for user groups in previous years. 
<div class="quote">
<p >
Dear GroupXYZ Members!
</p>
<p>
This summer (<em>May-September</em>) we are going to participate in Geek Harvest (<a href="http://geekharvest.org">more info here</a>). 
Geek Harvest is a bit like <em>bring-your-kid-to-work</em> day except it lasts all summer and it's much more fun. 
</p>
<p>
The one-liner: 
<br/>"Parents in the group, bring your kids to some meetings, pick a summer coding project, and show-and-tell your work to the group at the September meeting."
</p>
<p>
Interested parents, here's how to participate: 
<li>
Bring your kid(s) to a meeting and declare your team. 
</li>
<li>
Pick a fun summer project to code with your team. Think of how your team can show-and-tell the project to the whole group in September.
</li>
<li>
Show up to as many the summer meetings as you can with your team, and report your progress.
</li>
<li>
In August, sign up for a timeslot to show-and-tell in the September meeting. A block of 5-15 minutes works great.
</li>
<li>
In September, Geek Harvest teams will present (show-and-tell) their projects. It can be pure talk, slides, code walk-through, demo or a combination of any of these.
</li>
</p>
</div>
<br/>
<p>
	Your group is welcome to use this recipe as-is, or modify it. 
	Either way, you don't need our permission. 
	Geek Harvest is just an idea, and this site is simply a place to introduce folks to the idea. 
	We would love to hear if your group adopts Geek Harvest, and how it goes. 
	We are happy to add your user group to our Twitter list, cheerlead, and pass along your good ideas for other to use.

</p>

                </div>
            </div>
        </div>
    </section>

